<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
        <header>
            <nav>
                <ul>
                    <a asp-action="Index">Home</a>
                    <a asp-action="MyPodcasts">My Podcasts</a>
                    <a asp-action="MovieForm">New Movie Form</a>
                    <a asp-action="MovieList">Movie List</a>
                </ul>
            </nav>
            <h1>@ViewBag.Title</h1>
        </header>

        <main>
            @RenderBody()
        </main>

        <br />
        <br />

        <footer>The Joel Hilton Film Collection, Copyright 2021</footer>
   
</body>
</html>
