<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body style="overflow-x:hidden">
        <header>
            <nav class="p-4 navbar navbar-expand-lg navbar-light bg-info text-white">
                <a class="navbar-brand" href="#">JH Movie Database</a>
                    <div class="navbar-nav">
                        <a class="nav-item active nav-link text-white" asp-action="Index">Home</a>
                        <a class="nav-item active nav-link text-white" asp-action="MyPodcasts">My Podcasts</a>
                        <a class="nav-item active nav-link text-white" asp-action="MovieForm">New Movie Form</a>
                        <a class="nav-item active nav-link text-white" asp-action="MovieList">Movie List</a>
                    </div>
            </nav>
        </header>
    <br />
    <br />
 

        <main class="text-center m-auto" style="max-width: 80rem;">
            <h1>@ViewBag.Title</h1>
            @RenderBody()
        </main>

        <br />
        <br />
    <br />
    <br />

        <footer class="text-center footer text-dark p-4">The Joel Hilton Film Collection, Copyright 2021</footer>
   
</body>
</html>
