@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Header = "Home Page";
}


@*Index page, pretty basic stuff here.*@
<div>
    <p>Welcome to the home page! Here is a picture of the owner of this Movie Database:</p>
    <br />
</div>
<img src="~/joelhilton.jpg" />
